doctype html
.map-container(slot='fixed')
  .location-display
    ion-icon(name='location', color='primary')
    | 艾點軟體公司
    br
    ion-icon(name='location', color='primary')
    | 新北市中原二街125號
  #map(#map, style={width: '100%', height: '100%'})
