doctype html
ion-tabs
  ion-tab-bar(slot='bottom')
    ion-tab-button(tab='products')
      ion-icon(name='game-controller')
      ion-label 營業項目
    ion-tab-button(tab='story')
      ion-icon(name='book')
      ion-label 公司由來
    ion-tab-button(tab='members')
      ion-icon(name='people')
      ion-label 成員
    ion-tab-button(tab='location')
      ion-icon(name='location')
      ion-label 地圖
    ion-tab-button(tab='apps')
      ion-icon(name='cloud-download')
      ion-label App
