.splash-container {
  width: 100%;
  height: 100vh;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 500;

  //.logo {
  //  width: 60%;
  //  height: auto;
  //  background-image: url("../../../../../assets/images/logo.png");
  //  background-size: cover;
  //}
  .logo {
    text-align: center;
    img {
      width: 60%;
    }
  }

  .loader {
    width: 100px;
    height: 100px;
    background-image: url("../../../../../assets/images/loader-ripple.svg");
    background-size: cover;
  }
}
