doctype html
ion-row
  ion-col.ion-no-padding(
    size-sm='8', offset-sm='2'
    size-md='6', offset-md='3'
    size-lg='4', offset-lg='4'
  )
    .splash-container
      .logo
        img(src='./assets/images/logo.png')
      ion-label(color="light" ).ion-margin-top
        h1
          | 艾
          ion-text(color="danger" ) 點
          | 軟體設計
      .loader
